# Environment
.env

# Virtual environments
venv*/
.venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# Distribution
*.egg-info/
dist/
build/

# OS
.DS_Store
Thumbs.db
